<!doctype html>
<html>
<head>
  <title>Network | Circular images</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Twitter Hashtag Graph</title>

  <!-- Bootstrap Core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Material Design Lite CSS -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
  <!-- Material Design Lite Font Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Theme CSS -->
  <link href="/css/freelancer.min.css" rel="stylesheet">
  <link href="/css/vis-network.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

  <style type="text/css">
    body {
      font: 10pt arial;
    }
    #mynetwork {
      width: 800px;
      height: 800px;
      border: 1px solid lightgray;
      background-color:#333333;
    }
  </style>

  <script type="text/javascript" src="/js/vis.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <link href="/css/vis-network.min.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">


    $( document ).ready(function() {

    var request = $.ajax({
      url: '/api/v1/<%=  name %>/zones',
      type:"GET",
      contentType: "application/json",
    });

    request.done(function(data) {

//      var a = jQuery.parseJSON(data);
      for(x in data){
        var zone = data[x].time_zone;
          $('#opts').
                append($('<option>').
                  attr("value", zone).
                  attr("onclick", "myFunction(this.value)").
                  text(zone)
                );
//              append($('<button>').
//                  attr("class", "btn").
//                  attr("type", "button").
//                  attr("value", zone).
//                  attr("onclick", "myFunction(this.value)").
//                  text(zone)

      }
      $('#opts')
        .on('change', function() {
            var value = $(this).val();
            myFunction(value);
        });

    });

    request.always(function(jqXHR, status, statusText) {
      console.log(request.status);
    });


  });

  </script>
</head>

<body>
  <!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header page-scroll">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
          </button>
          <a class="navbar-brand" href="/">Hashtag Graph</a>
          <img class="image-navbar" style="width: 50px;height: 50px;" src="https://upload.wikimedia.org/wikipedia/en/archive/9/9f/20161107041729!Twitter_bird_logo_2012.svg" alt="">
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
              <li class="hidden">
                  <a href="/"></a>
              </li>
              <li class="page-scroll">
                  <a href="/list">List</a>
              </li>
              <li class="page-scroll">
                  <a href="/create">Create</a>
              </li>
              <li class="page-scroll" style="margin-left: 58px;">
                  <div class="cntr">
                      <div class="cntr-innr">
                          <label class="search" for="inpt_search">
                          <input id="inpt_search" type="text" />
                      </div>
                  </div>


              </li>
          </ul>
      </div>
      <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>

<section class="success" id="about">
    <div class="container">
    <div clas="wrap">


        <article class="material-card">
          <div id="idZone">
            <select id="opts"></select>
          </div>
          <div id="mynetwork"></div>
        </article>
    </div>






    </div>
</section>


<script>
  function myFunction(time_zone) {
    console.log(time_zone);
    var nodes = [];
    var edges = [];
    var network = null;
    nodes.push({id: 0, font:{size:30}, size:35, label: time_zone, shape: 'square', image: null});

    var request2 = $.ajax({
      url: '/api/v1/<%=  name %>/zones/'+time_zone,
//          url: '/api/v1/small/zones/Tehran',
      type:"GET",
      contentType: "application/json",
    });

    request2.done(function(zone) {
//          console.log(zone[0].time_zone);
//          console.log(zone[0].nodes);

      var edges = [];
      $.each(zone[0].nodes, function(index, tweet) {

        nodes.push({id: index + 1, shape: 'circularImage', image: tweet.image});
        edges.push({from: 0,  to: index + 1});

      });

//          console.log(edges);
          console.log(nodes);
      // create a network

      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          borderWidth:4,
          size:30,
        color: {
            border: '#222222',
            background: '#666666'
          },
          font:{color:'#eeeeee'}
        },
        edges: {
          color: 'lightgray'
        }
      };
      network = new vis.Network(document.getElementById('mynetwork'), data, options);
    });



    request2.always(function(jqXHR, status, statusText) {
      console.log(request2.status);
    });

};
</script>
</body>
</html>
