<!doctype html>
<html>
<head>
  <title>Network | Circular images</title>

  <style type="text/css">
    body {
      font: 10pt arial;
    }
    #mynetwork {
      width: 800px;
      height: 800px;
      border: 1px solid lightgray;
      background-color:#333333;
    }
  </style>

  <script type="text/javascript" src="/js/vis.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <link href="/css/vis-network.min.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">

    var nodes = [];
    var edges = [];
    var network = null;

    $( document ).ready(function() {

    var request = $.ajax({
      url: '/api/v1/small/zones',
      type:"GET",
      contentType: "application/json",
    });

    request.done(function(data) {

//      console.log(data);
      $.each(data, function(index, zone) {
        //console.log(zone.time_zone);
        var nodes = [];
        nodes.push({id: 0,  shape: 'square', image: null});

        var request2 = $.ajax({
          url: '/api/v1/small/zones/'+zone.time_zone,
//          url: '/api/v1/small/zones/Tehran',
          type:"GET",
          contentType: "application/json",
        });

        request2.done(function(zone) {
//          console.log(zone[0].time_zone);
//          console.log(zone[0].nodes);

          var edges = [];
          $.each(zone[0].nodes, function(index, tweet) {

            nodes.push({id: index + 1,  shape: 'circularImage', image: tweet.image});
            edges.push({from: 0,  to: index + 1});

          });

//          console.log(edges);
//          console.log(nodes);
          // create a network

          var data = {
            nodes: nodes,
            edges: edges
          };
          var options = {
            nodes: {
              borderWidth:4,
              size:30,
    	      color: {
                border: '#222222',
                background: '#666666'
              },
              font:{color:'#eeeeee'}
            },
            edges: {
              color: 'lightgray'
            }
          };
          network = new vis.Network(document.getElementById('mynetwork'), data, options);
        });

        request2.always(function(jqXHR, status, statusText) {
          console.log(request2.status);
        });

      });



    });



    request.always(function(jqXHR, status, statusText) {
      console.log(request.status);
    });


  });

  </script>
</head>

<body>

  <div id="mynetwork"></div>

</body>
</html>
