<!doctype html>
<html>
<head>
  <title>Network | Circular images</title>

  <style type="text/css">
    body {
      font: 10pt arial;
    }
    #mynetwork {
      width: 800px;
      height: 800px;
      border: 1px solid lightgray;
      background-color:#333333;
    }
  </style>

  <script type="text/javascript" src="/js/vis.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <link href="/css/vis-network.min.css" rel="stylesheet" type="text/css" />

  <script type="text/javascript">
    var DIR = 'img/soft-scraps-icons/';

    var nodes = [];
    var edges = null;
    var network = null;

    $( document ).ready(function() {

    var request = $.ajax({
      url: '/api/v1/small/zones/Tehran',
      type:"GET",
      contentType: "application/json",
    });

    request.done(function(data) {
      $.each(data, function(index, zone) {
        $.each(zone.nodes, function(index, tweet) {
          nodes.push({id: index + 1,  shape: 'circularImage', image: tweet.image});
        });
      });

        nodes.push({id: 0,  shape: 'square', image: null})
        edges = [
          {from: 0, to: 1},
          {from: 0, to: 2},
          {from: 0, to: 3},
          {from: 0, to: 4},
          {from: 0, to: 5},
          {from: 0, to: 10},
          {from: 0, to: 6},
          {from: 0, to: 7},
          {from: 0, to: 4}
        ];
        console.log(nodes);
        // create a network
        var container = document.getElementById('mynetwork');
        var data = {
          nodes: nodes,
          edges: edges
        };
        var options = {
          nodes: {
            borderWidth:4,
            size:30,
  	      color: {
              border: '#222222',
              background: '#666666'
            },
            font:{color:'#eeeeee'}
          },
          edges: {
            color: 'lightgray'
          }
        };
        network = new vis.Network(container, data, options);


    });



    request.always(function(jqXHR, status, statusText) {
      console.log(request.status);
    });


  });

  </script>
</head>

<body>

  <div id="mynetwork"></div>

</body>
</html>
