<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter Hashtag Graph</title>

<!-- Bootstrap Core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Material Design Lite CSS -->
  <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
  <!-- Material Design Lite Font Icons -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <!-- Theme CSS -->
  <link href="/css/freelancer2.min.css" rel="stylesheet">
  <link href="/css/vis-network.min.css" rel="stylesheet">

  <!-- Custom Fonts -->
  <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">


  <script type="text/javascript" src="/js/vis.js"></script>
  <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
  <link href="/css/vis-network.min.css" rel="stylesheet" type="text/css" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Hashtag Graph</a>
                <img class="image-navbar" style="width: 50px;height: 50px;" src="https://upload.wikimedia.org/wikipedia/en/archive/9/9f/20161107041729!Twitter_bird_logo_2012.svg" alt="">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/list">List</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/create">Create</a>
                    </li>
                    <li class="page-scroll" style="margin-left: 58px;">
                        <div class="search">
  <input type="checkbox" id="trigger" class="search__checkbox" />
  <label class="search__label-init" for="trigger"></label>
  <label class="search__label-active" for="trigger"></label>
  <div class="search__border"></div>
  <input type="text" class="search__input" />
  <div class="search__close"></div>
</div>


                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <style type="text/css">
    
    #mynetwork {
      width: 800px;
      height: 400px;
      margin-left: 15em;
      margin-top: 20%;
    }
  </style>



   <script type="text/javascript"> 

    var nodes = null;
    var edges = null;
    var network = null;

    // Called when the Visualization API is loaded.
    function draw() {
      // create people.
      // value corresponds with the age of the person
      var DIR = '../img/indonesia/';
      nodes = [
        {id: 1,  shape: 'circularImage', image: 'https://pbs.twimg.com/profile_images/582846350254944256/GatwiMQM_400x400.jpg', label:"David"},
        {id: 2,  shape: 'circularImage', image: 'https://pbs.twimg.com/profile_images/797348182460076032/ZNx5nLCn_400x400.jpg', label:"José Enrique"},
        {id: 3,  shape: 'circularImage', image: 'https://pbs.twimg.com/profile_images/704998387230371841/EC5N-ajy_400x400.jpg', label:"Leo"},
        {id: 4,  shape: 'circularImage', image: 'https://pbs.twimg.com/profile_images/515047172069683200/ODu_YsN7_400x400.jpeg', label:"Antonio"},
        {id: 5,  shape: 'square', image: DIR + '5.png', label:"MATI"},
      ];

      // create connections between people
      // value corresponds with the amount of contact between two people
      edges = [
        {from: 1, to: 5},
        {from: 2, to: 5},
        {from: 3, to: 5},
        {from: 4, to: 5},
      ];

      // create a network
      var container = document.getElementById('mynetwork');
      var data = {
        nodes: nodes,
        edges: edges
      };
      var options = {
        nodes: {
          borderWidth:4,
          size:30,
        color: {
            border: '#222222',
            background: '#666666'
          },
          font:{color:'#black'}
        },
        edges: {
          color: 'black'
        }
      };
      network = new vis.Network(container, data, options);
    }
  </script>
        
        
  <script src="../../googleAnalytics.js"></script>
</head>

<body onload="draw()">

<div id="mynetwork"></div>



    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/freelancer.min.js"></script>

    <script src="js/visGrafo.js"></script>

</body>

</html>
