<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter Hashtag Graph</title>

    <!-- Bootstrap Core CSS -->
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/css/freelancer.min.css" rel="stylesheet">
    <link href="/css/vis-network.min.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style type="text/css">
    #mynetwork {
      width: 1200px;
      height: 600px;
      margin: 0 auto;
    }
  </style>

</head>

<body id="page-top" class="index">

     <!-- Navigation -->
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">Hashtag Graph</a>
                <img class="image-navbar" style="width: 50px;height: 50px;" src="https://upload.wikimedia.org/wikipedia/en/archive/9/9f/20161107041729!Twitter_bird_logo_2012.svg" alt="">
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="/"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/list">List</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/create">Create</a>
                    </li>
                    <li class="page-scroll" style="margin-left: 58px;">
                        <div class="cntr">
                            <div class="cntr-innr">
                                <label class="search" for="inpt_search">
                                <input id="inpt_search" type="text" />
                            </div>
                        </div>


                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>


    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
        <div clas="wrap">

            <article class="material-card">
            <header style="background: #FAFAFA">
                <figure class="material-card-icon capamerica">
                </figure>
            <h1 class="material-card-title" style="color: #2aa9e0;font-weight: bold;">NOMBRE</h1>

            <div class="material-card-info">
                <time id='total'></time>
            </div>
            </header>
            <div class="material-card-content">

            </div>

      </article>

        </div>

        </div>
    </section>


    <script>
      $( document ).ready(function() {

        var request = $.ajax({
          url: '/api/v1/stats/total/wintersolstice',
          type:"GET",
          contentType: "application/json",
        });

        request.done(function(data) {
          console.log(data);
          $('#total').text(data);


        request.always(function(jqXHR, status, statusText) {
          console.log(request.status);
        });

      });
    </script>



    <!-- jQuery -->
    <script src="/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/js/jqBootstrapValidation.js"></script>
    <script src="/js/contact_me.js"></script>

    <!-- Theme JavaScript -->
    <script src="/js/freelancer.min.js"></script>

    <!-- Grafo -->
    <script src="/js/vis.js"></script>
    <script src="/js/WorldCup2014.js"></script>
    <script src="/js/visGrafo.js"></script>
    <script src="/js/form.js"></script>



</body>

</html>
